.container {
    background: #1d1f27;
    border-radius: 24px;
    gap: 2rem;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 16px #00000005;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.info {
    width: 49%;
}

.title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #e9eaeb;
    text-align: center;
}

.text {
    text-align: center;
    word-spacing: .1rem;
    margin: 0 auto;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    svg {
        min-width: 24px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.conclusion {
    text-align: center;
    word-spacing: .1rem;
    margin: 2rem auto .6rem;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
}

@media (max-width: 680px) {
    .wrapper {
        flex-direction: column;
    }

    .info {
        width: 100%;
    }
}