.container {
  max-width: 900px;
  margin: 0 auto 10rem;
}

.form {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  letter-spacing: .01rem;
  background: #1d1f27;
  border-radius: 24px;
  flex: 1;
  padding: 2rem;
  list-style: none;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 16px #00000005;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.checkbox_input {
  width: 18px;
  height: 18px;
}

.checkbox_label {
  font-size: 0.9rem;
  cursor: pointer;
}

.fees {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn_container {
  display: flex;
  width: 100%;

  .btn {
    background: #fc6d17;
    text-decoration: none;
    padding: 0.6rem 1rem;
    color: #e9eaeb;
    text-transform: uppercase;
    margin: auto;
    border: none;
    border-radius: 2px;
    transition: background-color 0.4s;
    white-space: nowrap;
    width: 200px;
    cursor: pointer;

    &:hover {
      background: #ec5f0a;
    }
  }
}
