.container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: white;
    padding: 0.6rem 0;
}

.content {
    display: flex;
    align-items: center;
    gap: 3rem;
    animation: marquee 100s linear infinite;
}

.image {
    display: inline-block;
    width: 60px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
